html, body {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

#wrapper {
	margin: 15px;
	height: calc(100vh - 30px);
}

#left {
	width: 25%;
	height: 100%;
	display: inline-block;

	float: left;
}

#resources td {
	padding: 5px;
}

#right {
	width: 70%;
	height: 100%;
	display: inline-block;

	float: left;
}

#printerArea {
	height: 45%;
	width: 100%;
	display: flex;
}

	#printerLeft {
		width: 60%;
		display: inline-block;
		text-align: center;
	}

		pre#printerArt {
			display: inline-block;
			text-align: left;
		}

	#printerRight {
		display: inline-block;
	}

#menuArea {
	height: 50%;
	width: 100%;

	background-color: white;
}

/* added via javascript */

.menuItem {
	display: inline-block;
	background-color: white;

	padding: 10px 20px;
	margin: 0px 20px;

	cursor: pointer;
}

#printerUpgrades {
	width: 90%;
}

thead {
	background-color: #23a5bc;
}

.refillButton {
	border: solid black 1px;
	padding: 5px;
	margin: 20px 10px;
	cursor: pointer;
}

.refillButton:hover {
	background-color: #a3a3a3;
}